*.aux

*.lof
*.log

*.lot

*.out

*.synctex.gz

*.toc

/.idea

# Python enviormenti
/Izvornikod/backend/venv/
/Izvornikod/backend/linux-venv/

# Python cache odnosno kompajlirani python
*__pycache__*

# Secreti
*.env
