.LabelTx2 {
    
    border: 0 !important;
    
    
    color: rgba(255, 196, 168, 1);
    
    margin: 0 !important;
    text-align: center;
}
.addDiet_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:auto;
    min-height: 70vh;
    padding-top: 50px;

}
.addDiet_form{
    overflow: hidden;
    width: 40%;
    height:auto;
    min-height: 100px;
    background-color: rgb(35, 51, 70);
    border-radius: 20px;
    box-shadow: 8px 12px 15px 5px rgba(0, 0, 0, 0.3);
    border:4px solid rgb(60, 86, 119);
    
}
.Diet_info_form{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 40% 58%;
    column-gap: 20px;
    row-gap: 20px;
    color: rgba(255, 196, 168, 1);
    overflow: hidden;
    scroll-behavior: auto;
    padding: 20px;
}

.Diet_info_form input textarea{
    font-size: 0.9rem;
    padding: 5px;
    background-color: rgb(0, 0, 0,0.2);
    border: 1px solid rgba(255, 196, 168, 1);
    color: rgba(255, 196, 168, 1);
    border-radius: 5px;
}
.hTitle{
    
    grid-column: 1/3;
    text-align: center;
}

.Diet_info_form textarea{
    
    grid-column: 1/3;
    height: 100px;
}

#S12{
    grid-column: 1/3;
    width: 130px;
    align-self: center;
    justify-self: center;
}
