/* Shared styles for labels */
.labelTx2 {
    border: 0 !important;
    color: rgba(255, 196, 168, 1);
    margin: 0 !important;
    text-align: right;
}

/* Styles for the container */
.addRecipe_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 70vh;
    padding-top: 50px;
}

/* Styles for the form */
.addRecipe_form {
    overflow: hidden;
    height: auto; /* Adjusted to auto height */
    min-height: 100px;
    background-color: rgb(35, 51, 70);
    border-radius: 20px;
    box-shadow: 8px 12px 15px 5px rgba(0, 0, 0, 0.3);
    border: 4px solid rgb(60, 86, 119);
}

/* Styles for the form grid */
.cookbook_info_form {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
    color: rgba(255, 196, 168, 1);
    overflow: hidden;
    scroll-behavior: auto;
    padding: 20px;
}

/* Styles for form input fields */
.cookbook_info_form input {
    font-size: 0.9rem;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 196, 168, 1);
    color: rgba(255, 196, 168, 1);
    border-radius: 5px;
}

/* Styles for the title */
.hTitle {
    grid-column: 1/3;
    text-align: center;
}

/* Styles for the submit button */
#S123 {
    grid-column: 1/3;
    width: 130px;
    align-self: center;
    justify-self: center;
}

/* Styles for Ingredients and Cooking Steps */
.ingredients,
.cooking-steps {
    margin-top: 20px;
}

/* Styles for Ingredient and Cooking Step rows */
.ingredient-row,
.cooking-step-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    align-items: center;
}

/* Styles for buttons in rows */
.ingredient-row button,
.cooking-step-row button {
    grid-column: 4/5;
    width: 80px;
}
